<ng-container *ngIf="basket$ | async">
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div *ngIf="(basket$ | async) === null">
                <p>There are no items in your basket</p>
            </div>
            <app-stepper [linearModeSelected]="true" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery Office'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step
                [label]="'Payment'" 
                [appStepper]="appStepper" 
                [completed]="(checkoutForm.get('paymentForm')).valid">
                    <app-checkout-payment  [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals
            *ngIf="(basketTotal$ | async)"
            [days]="(basketTotal$ | async).days"
            [subtotal]="(basketTotal$ | async).subtotal"
            [total]="(basketTotal$ | async).total"
            >
            </app-order-totals>
        </div>
    </div>
</div>
</ng-container>