<carousel>
    <slide>
        <img src="/assets/images/image1.jpg"  style="display: block; width: 100%;" > 
        <div class="centered">
        <h1>Don't compromise.</h1>
        <h3>Get everything you want, at a price you <span style="color: red;">love</span>.</h3>
        <button class="btn btn-outline-secondary btn-lg mt-4"
        [routerLink]="['/car']"
        routerLinkActive="router-link-active">Add to Cart</button>
        </div>
    </slide>
    <slide>
        <img src="/assets/images/image2.jpg" style="display: block; width: 100%;"> 
    </slide>
    <slide>
        <img src="/assets/images/image3.jpg"  style="display: block; width: 100%;"> 
    </slide>
</carousel>
<section>
    <div class="featured">
        <div class="d-flex justify-content-center pt-4">
            <h1>Welcome to the Carbook.</h1>
        </div>
    </div>
</section>