<section class="car-edit mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tab-panel">
          <tabset class="car-tabset">
            <tab heading="Edit Car">
              <div class="col-lg-6">
                  <app-edit-car-form [car]="carFormValues" [types]="types" [brands]="brands"></app-edit-car-form>
              </div>
            </tab>
            <tab heading="Edit Photos">
              <app-edit-car-photos [car]="car"></app-edit-car-photos>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>