<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <h3 class="mt-5"><strong>Forgot your password? </strong></h3>
            <hr size="10" color="black">
            <h5>Please enter your email addres</h5>
            <div class="mb-3">
                <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            </div>
            <button style="float: left;" type="button" class="btn btn-outline-secondary" routerLink="/account/login">Cancel</button>
            <button  [disabled]="forgotPasswordForm.invalid"  type="submit" class="btn btn-primary ml-2">Submit</button>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>