<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-4 text-center">
                <h1 class="h3 mb-3 fw-normal">Update Password</h1>
            </div>
            <app-text-input formControlName="password" [label]="'Password'" type="password"></app-text-input>
            <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" type="password"></app-text-input>
            <div class="text-danger">
                {{errorMessage}}
            </div>

            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}       
                </li>
            </ul>

            <button 
            [disabled]="updatePasswordForm.invalid" 
            class="w-100 btn btn-lg btn-success" 
            type="submit">Update
            </button>
        </form>

       
    </div>
</div>
